div {
background-color: rgb(131, 0, 0);
}
#container {
    width: 600px;
    background-color: rgb(58, 58, 58);
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    text-align: center;
    line-height: 35px;
    justify-content: space-evenly;
    align-items: center;
}
#container > div {
    height: 100px;
    width: 100px;
}
#container > div:nth-child(1) {
    background-color: blueviolet;
    height: 25px;
    width: 25px;
}
#container > div:nth-child(2) {
    background-color: rgb(43, 137, 226);
    height: 50px;
}
#container > div:nth-child(3) {
    background-color: rgb(43, 226, 141);
    height: 75px;
}
#container > div:hover {
    flex-grow: 1.5;
    background-color: rgb(235, 151, 54);
    transition: all 0.5s linear;
}
/*
div.first {
    background-color: darkorange;
}
div.second {
    background-color: darkgoldenrod;
}
div.second:hover {
    height: 300px;
    background-color: blueviolet;
    transition: all 0.5s linear;
}
*/
